header {
	background-color: $primary-color;
	color: white;
	@include flexContent(center, space-between, row);
	height: 4em;
	grid-row: 1 / 2;
	z-index: 3;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
// ---------------- HAMBURGUER MENU MOBILE ------------------
.side-navigation {
	margin-left: 3vw;
	span {
		display: block;
		width: 33px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;
		background: #fff;
		border-radius: 3px;
		z-index: 1;
		transition: all .2s ease-out;
	}
}

.menu {
	display: none;
	position: absolute;
	background-color: $primary-color;
	width: 100%;
	left: 0;
	padding-top: 1em;
	li{
		width: 100%;
	}
}
.menu-item{
	display: inline-block;
	padding: 1em 1em 1em 1em;
	width: 100%;
	&:hover{
		background-color: $secondary-color;
	}
}

#button-menu {
	display: none;
	height: 2em;
}
#button-menu:checked ~ .menu {
	@include flexContent(center, center, column);
	display:flex;
	text-align: center;
}

#button-menu:checked ~ label > span:nth-child(1){
	transform: rotate(-45deg) translate(-9px, 6px);
	
}
#button-menu:checked ~ label > span:nth-child(2){
	opacity: 0;
}
#button-menu:checked ~ label > span:nth-child(3){
  	transform: rotate(45deg) translate(-6px, -4px);
}
.menu-icon {
	cursor: pointer;
	display: inline-block;
	padding: 0.5em 0.5em 0.5em 0.5em;
	position: relative;
}

// ---------------- DESKTOP MENU ------------------
.navigation{
	display: none;
}
.search-icon {
	cursor: pointer;
	padding: 1em 0.5em;
	margin-right: 3vw;
}

//------------------- MEDIA QUERIES -------------------
@media screen and (min-width: 900px) {
	header{
		justify-content: space-around;
		height: 4vw;
	}
	.side-navigation{
		display: none;
	}
	.navigation{
		display: inline-block;
		width: 100%;
		.menu-desktop{
			@include flexContent(center, flex-end, row);
			& > * {
				margin-right: 3vw;
			}
		}
		
	}
	
}