//------------------- FORMS -------------------
.form-card {
	width: 90%;
	color: $info-color;
}
input[type="text"] {
	background-color: $background-color;
	width: 100%;
	border-radius: 0.3em;
	height: 2.5em;
	border: 0.2em solid $input-border-color;
	padding-left: 1em;
}
input[type="radio"] {
	opacity: 0;
	cursor: pointer;
	width: 0;
}
.radio-wrapper {
	@include flexContent(center, space-between, row);
}
.radio {
	display: flex;
	align-items: center;
	cursor: pointer;
}
.radio input:checked ~ .checkmark {
	border-color: $secondary-color;
}
.radio input:checked ~ .checkmark::after {
	display: block;
}
.checkmark {
	width: 1.25em;
	height: 1.25em;
	border: 0.2em solid $info-color;
	border-radius: 50%;
	padding: 0.1em;
	margin-right: 0.5em;
}
.checkmark::after {
	content: "";
	width: 100%;
	height: 100%;
	display: none;
	background: $secondary-color;
	border-radius: 50%;
}
.input-range p{
	text-align: center;
}
input[type=range]{
	-webkit-appearance: none;
}
.slider {
	
	width: 100%;
	height: 1em;
	background-color: $background-color;
	outline: none;
	border-radius: .5em;
}
.slider::-webkit-slider-thumb {
	appearance: none;
	cursor: pointer;
	background-color: $secondary-color;
	width: 2em;
	height: 2em;
	border-radius: 50%;
}

.slider::-moz-range-thumb{
	cursor: pointer;
	background-color: $secondary-color;
	width: 2em;
	height: 2em;
	border-radius: 50%;
}
.slider::-moz-range-progress{
	background-color: $primary-color;
	height: 100%;
	border-radius: .5em;
}
.dropzone-container {
	border: 0.1em solid $input-border-color;
	border-radius: 0.3em;
}
.dropzone {
	height: 5em;
	margin: 1em;
	background-color: $background-color;
	border: 0.2em dotted $input-border-color;
	border-radius: inherit;
	@include flexContent(center, center, column);
}
.thumb-preview {
	margin: 1em;
}
