$primary-color: #BE7656;
$secondary-color: #4B1F0E;
$input-text-color: #EFC3A4;
$red: #B73B30;
$info-color: #B1B1B1;
$background-color: #F4F6FC;

$acidity-color: #817D2B;
$bitterness-color: #0E0504;
$chocolate-color: #794028;
$floral-color: #B1646A;
$herbal-color: #547F30;

