
//------------------- MENU MOBILE -------------------
.menu-item{
   font-size: clamp(15px, 5vw, 30em);
	font-weight: 500;
}

//------------------- MENU DESKTOP -------------------
.menu-desktop{
   font-size: clamp(15px, 1.2vw, 30em);
}

//------------------- COFFEE ITEM -------------------
.coffee-info{
   h2{
      font-size: clamp(1.5em, 2vw, 30em);
   }
}
.info{
   color: $info-color;
   font-size: clamp(1em, 1vw, 30em);
}
.info-highlight{
   color: $primary-color;
}
.flavor{
   font-size: clamp(1em, 1vw, 30em);
   font-weight: 700;
	color: #fff;
}
//------------------- DEFAULT BUTTON -------------------
.button{
   color: #fff;
   font-weight: 700;
   font-size: clamp(1.2em, 1.5vw, 30em);
}
//------------------- FOOTER-------------------
footer{
   color: #fff;
   font-size: clamp(1em, .5vw, 30em);
}
.social-icon{
	font-size: clamp(2em, 1vw, 30em);
}